* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
    
header {
    background-color: rgba(9, 60, 255, .9);
    text-align: center;
    padding: 10vw 0vw 3vw 0vw;
}
    
header > img {
    border-radius: 50%;
    width: 63vw;
    padding: 5vw;
    max-width: 300px;
}

.hello {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5vw;
}

.cam {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 5vw 3vw 3vw 3vw;
}

.cam > span {
    font-weight: 200;
}

button {
    color: white;
    text-align: left;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 7px 15px 7px;
    margin: 20px;
    font-size: 14px;
}

.email i {
    margin-left: 80px;
}

.icons {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 9px;
}

.icon-kitchener {
    flex: 1;
}

.icon-social {
    flex: 1;
}

main {
    flex: 1;
    padding: 0vw 10vw 10vw 10vw;
    font-size: 14px;
    line-height: 175%;
}

h1 {
    color: rgba(9, 60, 255, .9);
    margin-top: 30px;
    font-size: 14px;
}

p {
    color: rgba(0, 0, 0, .7);
}

.websites {
    font-weight: bold;
}

.websites > span {
    color: rgba(9, 60, 255, .9);
    margin-right: 10px;
}

h2 {
    font-size: 16px;
}

h2 > span {
    color: rgba(9, 60, 255, .9);
    margin-left: 5vw;
}

/*tablet*/

@media all and (min-width: 768px) {
    body {
        flex-direction: row;
    }
    
}

/*desktop*/

@media all and (min-width: 2000px) {
    .bio {
        display: flex;
        flex-direction: row;
    }

    .bio > h1 {
        flex: 2;
    }

    .description {
        flex: 10;
        max-width: 400px;
    }

}